The questions I am trying to answer:
1) What was the frequency of trade or how many trades per day
2) Average profit and loss from each trade
3) Whats the risk reward ratio
4) Average holding period per security

In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('All for tony, thinkorswim trade challenge winner2.txt') as f:
    table = pd.read_table(f, sep='\s+', engine='python', header=None,   lineterminator='\n')
# sep=' |:', engine='python'

In [3]:
table.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,11/04/2016,02:21:43,PM,BOT,"+5,500",NEM,100,4,NOV,16,37.5,CALL,@.15,"$82,500.00"
1,11/04/2016,01:57:41,PM,SOLD,-300,UVXY,100,11,NOV,16,18.5,PUT,@2.25,"-$67,500.00"
2,11/04/2016,01:35:00,PM,BOT,+666,VXX,100,11,NOV,16,36.0,CALL,@3.40,"$226,440.00"
3,11/04/2016,01:27:59,PM,BOT,+200,TSLA,100,11,NOV,16,190.0,PUT,@4.60,"$92,000.00"
4,11/04/2016,01:07:58,PM,BOT,"+1,200",GPRO,100,11,NOV,16,11.5,PUT,@.70,"$84,000.00"

In [4]:
# table["1"]= table["2"] + table["3"]
table.iloc[:,0]=table.iloc[:,0]+" "+table.iloc[:,1]+""+table.iloc[:,2]
# table=table.drop(table.columns[[1,2]],axis=1)
table.iloc[:,5]=table.iloc[:,5]+" "+table.iloc[:,6].map(str)+" "+table.iloc[:,7].map(str)+" "+table.iloc[:,8].map(str)+" "+table.iloc[:,9].map(str)+" "+ \
table.iloc[:,10].map(str)+" "+table.iloc[:,11].map(str)
table=table.drop(table.columns[[1,2,6,7,8,9,10,11]],axis=1)
table.head()

,0,3,4,5,12,13
0,11/04/2016 02:21:43PM,BOT,"+5,500",NEM 100 4 NOV 16 37.5 CALL,@.15,"$82,500.00"
1,11/04/2016 01:57:41PM,SOLD,-300,UVXY 100 11 NOV 16 18.5 PUT,@2.25,"-$67,500.00"
2,11/04/2016 01:35:00PM,BOT,+666,VXX 100 11 NOV 16 36.0 CALL,@3.40,"$226,440.00"
3,11/04/2016 01:27:59PM,BOT,+200,TSLA 100 11 NOV 16 190.0 PUT,@4.60,"$92,000.00"
4,11/04/2016 01:07:58PM,BOT,"+1,200",GPRO 100 11 NOV 16 11.5 PUT,@.70,"$84,000.00"

In [5]:
import re
# table.iloc[:,13]=table.iloc[:,13].replace("@", "")
table.columns=['Time','Position','Quantity','Security','Price','Cash_flow']
# table["Price"].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
# table["Quantity"].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
# table["cash_flow"].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
# table.cash_flow = table.cash_flow.str.translate(None, "$") #use if u downgrading to python 2
# table.cash_flow = str(re.sub('[$]', '', str(table.cash_flow)))
table.Price =table.Price.str.replace('@','')
table.Price =table.Price.astype(float)
table.Cash_flow =table.Cash_flow.str.replace('$','')
table.Cash_flow =table.Cash_flow.str.replace(',','')
table.Cash_flow =table.Cash_flow.astype(float)
table.Quantity =table.Quantity.str.replace(',','')
table.Quantity = table.Quantity.astype(float)
table.head()

,Time,Position,Quantity,Security,Price,Cash_flow
0,11/04/2016 02:21:43PM,BOT,5500,NEM 100 4 NOV 16 37.5 CALL,0.15,82500
1,11/04/2016 01:57:41PM,SOLD,-300,UVXY 100 11 NOV 16 18.5 PUT,2.25,-67500
2,11/04/2016 01:35:00PM,BOT,666,VXX 100 11 NOV 16 36.0 CALL,3.40,226440
3,11/04/2016 01:27:59PM,BOT,200,TSLA 100 11 NOV 16 190.0 PUT,4.60,92000
4,11/04/2016 01:07:58PM,BOT,1200,GPRO 100 11 NOV 16 11.5 PUT,0.70,84000

In [6]:
# table.groupby('security').count()
# table.security.value_counts()

In [7]:
import datetime
import locale
locale.setlocale(locale.LC_ALL, "") # for datetime.strptime

# datetime_object = datetime.strptime('11/04/2016 02:21:43PM', '%x %I:%M:%S%p')
table.Time = pd.to_datetime(table.Time,format="%x %I:%M:%S%p")

table.head()

,Time,Position,Quantity,Security,Price,Cash_flow
0,2016-11-04 14:21:43,BOT,5500,NEM 100 4 NOV 16 37.5 CALL,0.15,82500
1,2016-11-04 13:57:41,SOLD,-300,UVXY 100 11 NOV 16 18.5 PUT,2.25,-67500
2,2016-11-04 13:35:00,BOT,666,VXX 100 11 NOV 16 36.0 CALL,3.40,226440
3,2016-11-04 13:27:59,BOT,200,TSLA 100 11 NOV 16 190.0 PUT,4.60,92000
4,2016-11-04 13:07:58,BOT,1200,GPRO 100 11 NOV 16 11.5 PUT,0.70,84000

In [8]:
# table.security.unique()
security = table.Security.unique()
average_holding_period =[0]* len(security)
total_profit =[0]* len(security)
average_profit =[0]* len(security)
number_of_trades=[0]* len(security)

trade_analyzis = {'security': security,'average_holding_period':[0]* len(security),\
                  'total_profit':[0]* len(security),'average_profit':[0]* len(security),'number_of_trades':[0]* len(security),\
                  'outstanding_quantity':[0]* len(security),'start_time':[0]* len(security)}


trade_analyzis = pd.DataFrame(trade_analyzis)
trade_analyzis.head()

,average_holding_period,average_profit,number_of_trades,outstanding_quantity,security,start_time,total_profit
0,0,0,0,0,NEM 100 4 NOV 16 37.5 CALL,0,0
1,0,0,0,0,UVXY 100 11 NOV 16 18.5 PUT,0,0
2,0,0,0,0,VXX 100 11 NOV 16 36.0 CALL,0,0
3,0,0,0,0,TSLA 100 11 NOV 16 190.0 PUT,0,0
4,0,0,0,0,GPRO 100 11 NOV 16 11.5 PUT,0,0

Security | Average Holding Period | Total Profit | Average Profit | Number of trades |

In [19]:
table.sort_values(by='Time',inplace=True)
table.head()

# z.index[0] + dt.timedelta(minutes=5)

,Time,Position,Quantity,Security,Price,Cash_flow
117,2016-10-11 10:10:19,BOT,200,VXX 100 28 OCT 16 34.5 CALL,1.50,30000
116,2016-10-11 13:50:28,SOLD,-200,VXX 100 28 OCT 16 34.5 CALL,1.86,-37200
115,2016-10-11 14:11:19,BOT,300,VXX 100 21 OCT 16 34.5 PUT,1.48,44400
114,2016-10-11 14:22:10,BOT,100,SPY 100 14 OCT 16 213.0 CALL,1.40,14000
113,2016-10-11 14:27:21,SOLD,-300,VXX 100 21 OCT 16 34.5 PUT,1.60,-48000

In [20]:
for indx,row in table.iterrows():
    if trade_analyzis[trade_analyzis.security==row.Security].outstanding_quantity.item() == 0:
        trade_analyzis.loc[trade_analyzis.security==row.Security,'number_of_trades']+= 1
#             trade_analyzis[trade_analyzis.security==row.Security].number_of_trades+1
            
    trade_analyzis.loc[trade_analyzis.security==row.Security,'total_profit'] = row.Cash_flow
#     print((trade_analyzis[trade_analyzis.security==row.Security].outstanding_quantity)+ int(row.Quantity))
    trade_analyzis.loc[trade_analyzis.security==row.Security,'outstanding_quantity'] += int(row.Quantity)
#     trade_analyzis.loc[trade_analyzis.security==row.Security,'outstanding_quantity']+int(row.Quantity)
    print(trade_analyzis[trade_analyzis.security==row.Security].outstanding_quantity)
    
    if (trade_analyzis[trade_analyzis.security==row.Security].outstanding_quantity.item() != 0):
        trade_analyzis.loc[trade_analyzis.security==row.Security,'start_time'] = row.Time
    else:
        print("poda",trade_analyzis[trade_analyzis.security==row.Security].start_time.item())
        print("maire",row.Time )
        trade_analyzis.loc[trade_analyzis.security==row.Security,'average_holding_period']+=\
        ((row.Time- trade_analyzis.loc[trade_analyzis.security==row.Security,'start_time'])/datetime.timedelta(hours=1))
        trade_analyzis[trade_analyzis.security==row.Security].average_holding_period = 0

54    200
Name: outstanding_quantity, dtype: int64
54    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-11 10:10:19
maire 2016-10-11 13:50:28
36    300
Name: outstanding_quantity, dtype: int64
53    100
Name: outstanding_quantity, dtype: int64
36    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-11 14:11:19
maire 2016-10-11 14:27:21

C:\Users\saeed\Anaconda3\lib\site-packages\pandas\core\generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

52    10
Name: outstanding_quantity, dtype: int64
52    400
Name: outstanding_quantity, dtype: int64
53    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-11 14:22:10
maire 2016-10-11 14:43:11
52    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-11 14:31:19
maire 2016-10-11 14:54:37
49    1000
Name: outstanding_quantity, dtype: int64
51    1100
Name: outstanding_quantity, dtype: int64
51    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-12 12:48:58
maire 2016-10-12 13:00:17
50    1000
Name: outstanding_quantity, dtype: int64
50    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-12 13:05:11
maire 2016-10-12 13:10:01
48    630
Name: outstanding_quantity, dtype: int64
48   -630
Name: outstanding_quantity, dtype: int64
49    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-12 12:46:13
maire 2016-10-12 14:48:50
48    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-12 14:47:57
maire 2016-10-12 14:57:23
47    500
Name: outstanding_quantity, dtype: int64
46    900
Name: outstanding_quantity, dtype: int64
45    900
Name: outstanding_quantity, dtype: int64
47    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-12 14:57:50
maire 2016-10-13 11:46:47
46    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-13 11:36:43
maire 2016-10-13 13:08:57
45    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-13 11:37:56
maire 2016-10-13 13:09:28
44    250
Name: outstanding_quantity, dtype: int64
44   -250
Name: outstanding_quantity, dtype: int64
43    1000
Name: outstanding_quantity, dtype: int64
42    900
Name: outstanding_quantity, dtype: int64
42   -500
Name: outstanding_quantity, dtype: int64
44    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-13 13:31:36
maire 2016-10-14 10:42:43
43    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-13 13:54:52
maire 2016-10-14 10:48:23
42    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-13 14:48:19
maire 2016-10-14 14:50:54
35    1200
Name: outstanding_quantity, dtype: int64
40    350
Name: outstanding_quantity, dtype: int64
38    300
Name: outstanding_quantity, dtype: int64
41    3000
Name: outstanding_quantity, dtype: int64
39    190
Name: outstanding_quantity, dtype: int64
27    250
Name: outstanding_quantity, dtype: int64
40    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 12:53:11
maire 2016-10-17 13:20:33
37    500
Name: outstanding_quantity, dtype: int64
36    600
Name: outstanding_quantity, dtype: int64
39    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 13:16:47
maire 2016-10-18 10:53:20
38    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 12:55:30
maire 2016-10-18 10:53:26
37    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 13:21:03
maire 2016-10-18 14:56:13
36    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 14:41:49
maire 2016-10-18 14:56:34
34    1500
Name: outstanding_quantity, dtype: int64
33    1700
Name: outstanding_quantity, dtype: int64
25    10
Name: outstanding_quantity, dtype: int64
25    30
Name: outstanding_quantity, dtype: int64
35    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 12:44:22
maire 2016-10-19 12:42:15
34    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-19 11:55:41
maire 2016-10-19 13:44:29
33    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-19 11:57:13
maire 2016-10-19 13:46:49
28    600
Name: outstanding_quantity, dtype: int64
30    650
Name: outstanding_quantity, dtype: int64
31    17000
Name: outstanding_quantity, dtype: int64
29    500
Name: outstanding_quantity, dtype: int64
31    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-21 12:56:11
maire 2016-10-21 13:06:09
32    1600
Name: outstanding_quantity, dtype: int64
31    20000
Name: outstanding_quantity, dtype: int64
31    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-21 13:19:33
maire 2016-10-21 13:48:30
30    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-21 12:49:45
maire 2016-10-24 10:30:32
29    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-21 13:01:48
maire 2016-10-24 10:31:37
28    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-19 13:57:03
maire 2016-10-25 13:56:15
24    10
Name: outstanding_quantity, dtype: int64
23    600
Name: outstanding_quantity, dtype: int64
24    550
Name: outstanding_quantity, dtype: int64
26    1000
Name: outstanding_quantity, dtype: int64
27    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-17 13:18:25
maire 2016-10-27 14:57:40
26    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-27 14:36:11
maire 2016-10-28 12:30:44
20    1000
Name: outstanding_quantity, dtype: int64
25    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-19 12:33:03
maire 2016-10-28 12:38:17
21    500
Name: outstanding_quantity, dtype: int64
22    400
Name: outstanding_quantity, dtype: int64
24    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-25 14:01:26
maire 2016-10-28 13:18:59
23    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-25 14:00:59
maire 2016-10-28 13:20:19
18    400
Name: outstanding_quantity, dtype: int64
19    500
Name: outstanding_quantity, dtype: int64
12    1500
Name: outstanding_quantity, dtype: int64
22    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-28 13:11:28
maire 2016-10-31 13:58:40
21    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-28 13:03:53
maire 2016-10-31 14:02:07
20    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-28 12:31:34
maire 2016-10-31 14:03:41
19    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-28 14:55:26
maire 2016-10-31 14:14:25
18    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-28 14:53:54
maire 2016-10-31 14:14:39
15    200
Name: outstanding_quantity, dtype: int64
16    800
Name: outstanding_quantity, dtype: int64
2    300
Name: outstanding_quantity, dtype: int64
6    300
Name: outstanding_quantity, dtype: int64
2    310
Name: outstanding_quantity, dtype: int64
7    700
Name: outstanding_quantity, dtype: int64
17   -600
Name: outstanding_quantity, dtype: int64
17    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-01 12:36:57
maire 2016-11-01 13:27:41
16    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-31 14:58:23
maire 2016-11-01 13:35:11
15    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-31 14:55:03
maire 2016-11-01 13:35:26
13    200
Name: outstanding_quantity, dtype: int64
14    1000
Name: outstanding_quantity, dtype: int64
14    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-01 14:47:31
maire 2016-11-02 08:57:41
13    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-01 14:45:17
maire 2016-11-02 10:10:19
12    0
Name: outstanding_quantity, dtype: int64
poda 2016-10-31 13:49:17
maire 2016-11-02 13:57:02
8    700
Name: outstanding_quantity, dtype: int64
5    1000
Name: outstanding_quantity, dtype: int64
10    100
Name: outstanding_quantity, dtype: int64
9    150
Name: outstanding_quantity, dtype: int64
11    300
Name: outstanding_quantity, dtype: int64
10    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-03 10:43:01
maire 2016-11-03 13:14:28
9    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-03 11:20:33
maire 2016-11-03 14:35:53
8    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-03 08:35:04
maire 2016-11-03 14:42:00
7    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-01 11:33:19
maire 2016-11-03 14:46:15
6    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-01 11:11:31
maire 2016-11-03 14:47:06
2   -390
Name: outstanding_quantity, dtype: int64
3    200
Name: outstanding_quantity, dtype: int64
3    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-04 10:53:19
maire 2016-11-04 11:00:42
5    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-03 08:36:15
maire 2016-11-04 11:46:02
1    300
Name: outstanding_quantity, dtype: int64
4    1200
Name: outstanding_quantity, dtype: int64
3    200
Name: outstanding_quantity, dtype: int64
2    276
Name: outstanding_quantity, dtype: int64
1    0
Name: outstanding_quantity, dtype: int64
poda 2016-11-04 12:51:44
maire 2016-11-04 13:57:41
0    5500
Name: outstanding_quantity, dtype: int64

In [21]:
trade_analyzis
trade_analyzis.total_profit.sum()
trade_analyzis

,average_holding_period,average_profit,number_of_trades,outstanding_quantity,security,start_time,total_profit
0,0.000000,0,1,5500,NEM 100 4 NOV 16 37.5 CALL,2016-11-04 14:21:43,82500
1,1.099167,0,1,0,UVXY 100 11 NOV 16 18.5 PUT,2016-11-04 12:51:44,-67500
2,0.000000,0,1,276,VXX 100 11 NOV 16 36.0 CALL,2016-11-04 13:35:00,226440
3,0.123056,0,2,200,TSLA 100 11 NOV 16 190.0 PUT,2016-11-04 13:27:59,92000
4,0.000000,0,1,1200,GPRO 100 11 NOV 16 11.5 PUT,2016-11-04 13:07:58,84000
5,27.163056,0,1,0,GDX 100 11 NOV 16 25.0 CALL,2016-11-03 08:36:15,-79000
6,51.593056,0,1,0,UVXY 100 11 NOV 16 18.5 CALL,2016-11-01 11:11:31,-121800
7,51.215556,0,1,0,YHOO 100 11 NOV 16 41.0 PUT,2016-11-01 11:33:19,-81200
8,6.115556,0,1,0,NEM 100 11 NOV 16 37.5 CALL,2016-11-03 08:35:04,-81900
9,3.255556,0,1,0,AET 100 4 NOV 16 105.0 PUT,2016-11-03 11:20:33,-9600
10,2.524167,0,1,0,MYL 100 4 NOV 16 36.5 PUT,2016-11-03 10:43:01,-17400
11,0.000000,0,1,300,SLV 100 4 NOV 16 17.5 CALL,2016-11-03 12:19:29,3900
12,48.129167,0,1,0,CHK 100 11 NOV 16 5.5 PUT,2016-10-31 13:49:17,-64500
13,19.417222,0,1,0,NVDA 100 11 NOV 16 69.0 CALL,2016-11-01 14:45:17,-76000
14,18.169444,0,1,0,NEM 100 4 NOV 16 38.0 PUT,2016-11-01 14:47:31,-39000
15,22.673056,0,1,0,TSLA 100 4 NOV 16 197.5 PUT,2016-10-31 14:55:03,-176000
16,22.613333,0,1,0,AAPL 100 4 NOV 16 113.0 PUT,2016-10-31 14:58:23,-212800
17,0.845556,0,1,0,GDX 100 11 NOV 16 25.0 PUT,2016-11-01 12:36:57,40200
18,71.345833,0,1,0,VXX 100 4 NOV 16 33.0 CALL,2016-10-28 14:53:54,-58800
19,71.316389,0,1,0,UVXY 100 4 NOV 16 16.0 CALL,2016-10-28 14:55:26,-57500
20,73.535278,0,1,0,GDX 100 4 NOV 16 24.0 CALL,2016-10-28 12:31:34,-68000
21,72.970556,0,1,0,NEM 100 11 NOV 16 35.5 CALL,2016-10-28 13:03:53,-93000
22,72.786667,0,1,0,GLD 100 4 NOV 16 122.0 CALL,2016-10-28 13:11:28,-29600
23,71.322222,0,1,0,UVXY 100 4 NOV 16 13.5 CALL,2016-10-25 14:00:59,-150600
24,71.292500,0,1,0,VXX 100 4 NOV 16 31.0 CALL,2016-10-25 14:01:26,-138600
25,216.087222,0,1,0,KO 100 28 OCT 16 41.5 CALL,2016-10-19 12:33:03,-1890
26,21.909167,0,1,0,GDX 100 4 NOV 16 23.5 PUT,2016-10-27 14:36:11,-35000
27,241.654167,0,1,0,NFX 100 18 NOV 16 42.0 PUT,2016-10-17 13:18:25,-45000
28,143.986667,0,1,0,VXX 100 28 OCT 16 32.5 PUT,2016-10-19 13:57:03,-118800
29,69.496944,0,1,0,NEM 100 28 OCT 16 36.5 CALL,2016-10-21 13:01:48,-28500
30,69.679722,0,1,0,GDX 100 4 NOV 16 24.5 CALL,2016-10-21 12:49:45,-32500
31,0.648611,0,2,0,CHK 100 21 OCT 16 6.5 PUT,2016-10-21 13:19:33,-40000
32,0.000000,0,1,1600,CHK 100 28 OCT 16 7.0 CALL,2016-10-21 13:15:32,28800
33,1.826667,0,1,0,UVXY 100 21 OCT 16 15.0 PUT,2016-10-19 11:57:13,-62900
34,1.813333,0,1,0,VXX 100 21 OCT 16 32.5 PUT,2016-10-19 11:55:41,-64500
35,47.964722,0,1,0,GDX 100 21 OCT 16 23.5 CALL,2016-10-17 12:44:22,-156000
36,24.513056,0,2,0,VXX 100 21 OCT 16 34.5 PUT,2016-10-17 14:41:49,-81600
37,25.586111,0,1,0,UVXY 100 21 OCT 16 17.5 PUT,2016-10-17 13:21:03,-86500
38,21.965556,0,1,0,APC 100 28 OCT 16 62.0 PUT,2016-10-17 12:55:30,-33300
39,21.609167,0,1,0,HP 100 18 NOV 16 65.0 PUT,2016-10-17 13:16:47,-46550
40,0.456111,0,1,0,VXX 100 28 OCT 16 35.5 CALL,2016-10-17 12:53:11,-46550
41,0.000000,0,1,3000,CHK 100 21 OCT 16 6.0 PUT,2016-10-17 12:57:39,45000
42,24.043056,0,1,0,VXX 100 14 OCT 16 35.0 PUT,2016-10-13 14:48:19,10500
43,20.891944,0,1,0,UVXY 100 14 OCT 16 17.5 PUT,2016-10-13 13:54:52,-36000
44,21.185278,0,1,0,GDX 100 14 OCT 16 23.5 PUT,2016-10-13 13:31:36,11000
45,1.525556,0,1,0,UVXY 100 14 OCT 16 18.0 PUT,2016-10-13 11:37:56,-69300
46,1.537222,0,1,0,VXX 100 14 OCT 16 35.5 PUT,2016-10-13 11:36:43,-72000
47,20.815833,0,1,0,NEM 100 21 OCT 16 34.5 PUT,2016-10-12 14:57:50,-44500
48,0.157222,0,1,0,GDX 100 21 OCT 16 23.0 CALL,2016-10-12 14:47:57,44100
49,2.043611,0,1,0,VXX 100 14 OCT 16 33.5 PUT,2016-10-12 12:46:13,-36000
50,0.080556,0,1,0,UVXY 100 14 OCT 16 17.0 CALL,2016-10-12 13:05:11,-45000
51,0.188611,0,1,0,UVXY 100 14 OCT 16 16.0 PUT,2016-10-12 12:48:58,-49500
52,0.388333,0,1,0,VXX 100 14 OCT 16 34.5 PUT,2016-10-11 14:31:19,-40800
53,0.350278,0,1,0,SPY 100 14 OCT 16 213.0 CALL,2016-10-11 14:22:10,-14200
54,3.669167,0,1,0,VXX 100 28 OCT 16 34.5 CALL,2016-10-11 10:10:19,-37200

In [14]:
# trade_analyzis.loc[trade_analyzis.loc["VXX 100 21 OCT 16 34.5 PUT"].,average_holding_period]
trade_analyzis.loc[trade_analyzis.security=="VXX 100 14 OCT 16 34.5 PUT",'security']
# df.loc[df['column_name'] == some_value]
# trade_analyzis.[trade_analyzis==row.Security].average_holding_period = 0

52    VXX 100 14 OCT 16 34.5 PUT
Name: security, dtype: object

In [15]:
row=table.iloc[1,:]
(row.Time- trade_analyzis[trade_analyzis.security==row.Security].start_time)
# row.Security

ValueError: Cannot add integral value to Timestamp without offset.

In [13]:
(row.Time- trade_analyzis.loc[trade_analyzis.security==row.Security,'start_time'])/datetime.timedelta(hours=1)

ValueError: Cannot add integral value to Timestamp without offset.